# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

* Python
* R
* SQL
* Julia

# Some of the commonly used libraries used by Data Scientists include:

* NumPy
* pandas
* Matplotlib
* PyTorch

| Data Science Tools |
|--------------------|
| Jupyter            |
| Python             |
| R                  |
| SQL                |
| Git and GitHub     |
| Power Bi           |

# Below are a few examples of evaluating arithmetic expressions in Python

 This a simple arithmetic expression to mutiply then add integers

In [2]:
(3*4)+5

17

 This will convert 200 minutes to hours by diving by 60

In [3]:
200/60

3.3333333333333335

# Objectives:

List popular languages for Data Science

* Python
* R
* SQL
* Julia

## Author
Poovannan R